
body {
  font-family: "Nunito", sans-serif;
  font-size: auto;
  background-color: #fff6ee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
img {
  border-radius: 10px;
  width: 250px;
  margin: 30px auto;
}
.greeting {
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.ptk {
  border-radius: 900px;
  width: 45px;
  border-color: black;
} 

.myself {
  border-radius: 10px;
  width: 350px;
  margin: 30px auto;
}
.about-section {
  padding: 20px;
}
.about-section-content {
}
.card {
  width: 400px;
  height: 500px;
  margin: 10px 10px;
}
.card img {
  width: 150px;
  display: flex;
  justify-content: center;
}
.work-enquiry {
  background-color: black;
  border-radius: 6px;
  color: white;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}
.project-link {
  background-color: lightpink;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}
.technologies {
  background-color: #f0f1f3;
  margin: 10px auto;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
project {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px;
  margin: 5px 5px;
}
.certificate {
  width: 300px;
}
.education, .certificates, .achievements, .resume {
  display: flex;
  justify-content: center;
  align-items: center;

}

.javascript {
  background-color: #ffd43b;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.css,
.facebook,
.linkedin,
.twitter {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #254bdd;
}
.html {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #e96228;
}
.bootstrap {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #7432f9;
}
.github,
.instagram {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.python {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.react {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #5ed3f3;
}
.hidden {
  display: none;
}

.certificate-section {
  margin: 20px 0;
}

#toggleEducation, #toggleCertificates, #toggleAchievements {
  background-color: lightpink;
  color: white;
  padding: 10px 20px;
  border: lightpink;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  
}

#toggleEducation:hover, #toggleCertificates:hover,
#toggleAchievements:hover {
  background-color: navy;
}


@media (max-width: 900px) {
  .about-section h1 {
    font-size: 44px;
    line-height: 1;
  }
  h2 {
    font-size: 10px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .technologies {
    text-align: center;
  }
  .greeting{
    line-height: 2;
    font-size: small;
  }
  .resume{
    font-size: xx-large;
  }
  .card {
    width: 400px;
    height: 600px;
    margin: 10px 10px;
}
}