.portfolio {
  font-family: "Poppins", sans-serif;
  background-color: #fff6ee;
  border: 1px solid gray;
  border-radius: 8px;
}
img {
  border-radius: 10px;
  width: 400px;
  margin: 30px auto;
}
.about-section {
  padding: 20px;
}
.about-section-content {
  margin: 30px;
}
.work-enquiry {
  background-color: rgb(249, 247, 254);
  border-radius: 6px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}
.project-link {
  background-color: lightpink;
  color: black;
  text-align: center;
  padding: 10px 5px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}
.technologies {
  background-color: #f0f1f3;
  margin: 10px auto;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
.project {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 40px;
  margin: 15px 15px;
}
.certificates h3 {
  text-align: center;
  color: greenyellow;
  text-decoration: underline;
}
.javascript {
  background-color: #ffd43b;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.css {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #254bdd;
}
.html {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #e96228;
}
.bootstrap {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #7432f9;
}
.github {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.python {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #183153;
}
.react {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: #5ed3f3;
}

@media (max-width: 900px) {
  .about-section h1 {
    font-size: 44px;
    line-height: 1;
  }
  h2 {
    font-size: 10px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .technologies {
    text-align: center;
  }
  .project {
    margin: 20px;
  }
}
